<div fxLayout="row">
    <div fxFlex>
        <mat-card>
            <mat-input-container style="min-width: 400px">
                <input matInput placeholder="Address" #search>
            </mat-input-container>
            <button mat-button (click)="setCurrentPosition()" *ngIf="!showSpinner"><i
                    class="material-icons">my_location</i></button>
            <button mat-button *ngIf="showSpinner">
                <mat-spinner [diameter]="20" [strokeWidth]="3"></mat-spinner>
            </button>
            <button mat-button (click)="searchApi()">Suchen</button>
        </mat-card>
    </div>
</div>
<div fxLayout="row">

    <div fxFlex="30" *ngIf="points.length>0">
        <app-search-result-list [points]="points"></app-search-result-list>
    </div>

    <div [fxFlex]="getWidth()">
        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (centerChange)="mapCenterChanged($event)">
            <!--<agm-marker *ngIf="currPos.latitude!==undefined" [latitude]="currPos.latitude" [longitude]="currPos.longitude"></agm-marker>-->
            <agm-marker *ngFor="let point of points" [latitude]="point.latitude" [longitude]="point.longitude"></agm-marker>
        </agm-map>
    </div>
</div>